{% extends "base_index.html" %} 
{% load crispy_forms_tags %} 

{% load static %}
{% static 'images' as baseUrl %}

{% block content %}
<body class="intro-section">
  
  <section>
    <div class="container">
    
      <div class="intro">
        <div class="row">
          <div class="col-md-12 col-lg-6 mx-auto pt-5">
            <div class="right-area pt-5"><!--login form-->
                <h2 class="center-text">Link Sent!</h2>              
                <div class="panel margin-b-30 pt-5">
                    <h4 class="alert alert-success center-text">Link Sent!!! Check your inbox</h4>
                    <p class="text-white">We have emailed you instructions for setting your password. You should receive the email shortly!</p>
                    
                </div>
            </div><!--/login form-->
          </div>
        </div><!-- row -->
      </div><!-- heading-wrapper -->
    </div><!-- container -->
  </section><!-- intro-section -->  
  {% endblock %}