{% extends "base_index.html" %} 
{% load crispy_forms_tags %} 

{% load static %}
{% static 'images' as baseUrl %}

{% block content %}
<body class="intro-section">
  
  <section>
    <div class="container">
    
      <div class="intro">
        <div class="row">
          <div class="col-md-12 col-lg-6 mx-auto pt-5">
            <div class="right-area"><!--login form-->
                <!-- <h2 class="center-text">Password Reset Complete</h2>-->
                <div class="panel margin-b-30 pt-5">
                    <h4 class="alert alert-success center-text">Password reset complete...</h4>
                    <p class="text-white">Your new password has been set. You can log in now...</p>
                    <a href="{% url 'signin' %}" class="btn btn-color-yellow">Login!</a>                    
                </div>
            </div><!--/login form-->
          </div>
        </div><!-- row -->
      </div><!-- heading-wrapper -->
    </div><!-- container -->
  </section><!-- intro-section -->  
  {% endblock %}